$line-height: 1.6;
$body-font-size: 18px;
$verticle-margin: 40px;
$body-width: auto;
$horizontal-padding: 10px;
$header-height: 100px;
$footer-height: 30px;

body {
  line-height: $line-height;
  font-size: $body-font-size;
  padding: 0 $horizontal-padding;
  max-width: $body-width;
  margin: $verticle-margin auto;
  display: block;
};

.col-xs-4 {
  height: 100px;
  width: 20%;
  margin: auto;
  padding: 0 $horizontal-padding;
}

.col-xs-2 {
  height: 200px;
  width: 30%;
  margin: auto;
  float: left;
}

.container {
  margin: $verticle-margin;

}
